


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Slab:wght@300&family=Shantell+Sans:ital,wght@1,300&family=Tilt+Prism&display=swap');
/* 
.container{
   position: relative;
   width: 100%;
   height: 100vh;
   background-color:white;
 } */


 /* nav{
   position: relative; */
 
nav{
    display: flex;
    width: 84%;
    justify-content: space-between;
    margin-left: 100px;
    align-items:center;
   /* position: sticky;
   background-color: white; */
   
    
  }

  nav ul li{
    display: inline-block; 
    list-style: none;
    /* margin top right bottom left */
    margin: 10px 20px  10px 20px;
 }
 
 nav ul li a{
   text-decoration: none;
   color:darkcyan;
   font-weight: bold;
 
 }

 
nav ul li a:hover{
    color:crimson
}
 .logo1{
    width: 150px;
    height: 100px;
    margin-left: 2px;
    margin-top: 5px;
    background-color:burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
    border-radius: 5px solid;

}
 .caption1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size:6vh;
    text-align:left;
    margin-left: 50px;
    margin-bottom: 150px;
   text-transform:lowercase;
   


 }
.caption2{
   font-family:Arial, Helvetica, sans-serif;
   font-style: italic;
   font-size:6vh;
   text-align:left;
   margin-left: 50px;
   margin-bottom: 150px;
  text-transform:capitalize;
}

.caption3{
   font-family:Arial, Helvetica, sans-serif;
   font-style: italic;
   font-size:6vh;
   text-align:justify;
   margin-left: 50px;
   margin-bottom: 150px;
  text-transform:lowercase;
}
.caption4{
   font-family:Arial, Helvetica, sans-serif;
   font-style:italic;
   font-size:6vh;
   text-align:justify;
   margin-left: 50px;
   margin-bottom: 200px;
  text-transform:capitalize;
  
}
#container{
   width: 100%;
   height: 1000px;
   background-image: url('./background3.avif');
   background-size: cover;
   background-repeat: no-repeat;


}
.head1{
   align-items: center;
   margin-top: 40px;
   margin-left: 600px;
   font-size:xx-large;
   font-weight: bold;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   background-clip: border-box;
}

#back1{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   
}
#ayur1{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold; 
}
#food1{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold; 
}
#village1{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold; 
}
#fest1{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
}
#art1{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
}
#things{

   width: 100%;
   height: 620px;

   background-image:url('./background2.avif');
   background-size: cover;
   background-repeat: no-repeat;
}
.head2{
   align-items: center;
   margin-top: 40px;
   margin-left: 600px;
   font-size:xx-large;
   font-weight: bold;
   font-family:Arial, Helvetica, sans-serif;
   background-clip: border-box;
}
#scuba{
   width: 45px;
   height: 250px;
   margin-left: 30px;
   margin-top: 5px;
   border-radius: 2px solid;
   background-image: url('./scubadiving1.jpg');
}
/* .scuba1{
   font-size:large;
   text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
#trekking{
   width: 45px;
   height: 250px;
   margin-left:20px;
   margin-top: 5px;
   border-radius: 2px solid; 

 
   background-image: url('./trekking1.avif');
}
#camping{
    width: 45px;
   height: 250px;
   margin-left:20px;
   margin-top: 5px;
   border-radius: 2px solid;  
  background-image: url('./camping1.avif');
}
#heritage{
   width: 45px;
   height: 250px;
   margin-left: 30px;
   margin-top: 30px;
   border-radius: 2px solid;
   background-image: url('./heritage2.jpg');
}
#ksrtc{
   width: 45px;
   height: 250px;
   margin-left: 30px;
   margin-top: 30px;
   border-radius: 2px solid;
   background-image: url('./ksrtc1.jpg');
}
#paragliding{

   width: 45px;
   height: 250px;
   margin-left: 30px;
   margin-top: 30px;
   border-radius: 2px solid;
   background-image: url('./paragliding3.jpg');
}
/* #act{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-top: 40px;
   margin-left: 600px;
   align-items: center;
  font-style:oblique;
  font-weight: bold;
  font-variant: small-caps; */
  
/* } */

/* #do{
   margin-left: 650px;
   font-size: large;
   align-items: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top:60px;
} */

#stay{
   width: 100%;
   height: 1150px;
   background-image: url('./background4.avif');
   background-size: cover;
   background-repeat: no-repeat;

}
#head3{
   align-items: center;
   margin-top: 40px;
   margin-left: 600px;
   font-size:xx-large;
   font-weight: bold;
   font-family:Arial, Helvetica, sans-serif;
   background-clip: border-box;
}
#abad{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
}
#dream{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
}
#raviz{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
}
#morickap{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
}
#mud{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
}
#vibes{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
}
#destination{
   width: 100%;
   height: 700px;
   background-image: url('./background2.avif');
   background-size: cover;
   background-repeat: no-repeat;
}
#head4{
   align-items: center;
   margin-top: 40px;
   margin-left: 600px;
   font-size:xx-large;
   font-weight: bold;
   font-family:Arial, Helvetica, sans-serif;
   background-clip: border-box;
}
#plan{
   width: 100%;
    height: 800px;
   /* background-image: url('./background8.avif');
   background-size: cover;
   background-repeat: no-repeat;  */
   background-color: white;

}
#head5{
   align-items: center;
   margin-top: 40px;
   margin-left: 600px;
   font-size:xx-large;
   font-weight: bold;
   font-family:Arial, Helvetica, sans-serif;
   background-clip: border-box;
}
#plan1{
   width: 300px;
   height: 250px;
   margin-right:5px;
   margin-top: 40px;
   margin-left: 20px;
}
#plan2{
   width: 300px;
   height: 250px;
   margin-right: 5px;
   margin-top: 40px;
   margin-left: 20px;
}
#plan3{
   width: 300px;
   height: 250px;
   margin-right: 5px;
   margin-top: 40px;
   margin-left: 20px;
}
#plan4{
   width: 300px;
   height: 250px;
   margin-left: 30px;
   margin-top: 40px;
   margin-left: 20px;
}
.images{
   display: flex;
}
#plan5{
   width: 300px;
   height: 250px;
   margin-right: 30px;
   margin-top:  20px;
   margin-left: 20px;
}
#plan6{
   width: 300px;
   height: 250px;
   margin-right: 5px;
   margin-top: 20px;
   margin-left:10px ;
}
#plan7{
   width: 300px;
   height: 250px;
   margin-right: 5px;
   margin-top: 20px;
   margin-left: 20px;
}
#plan8{
   width: 300px;
   height: 250px;
   margin-right: 5px;
   margin-top: 20px;
   margin-left: 20px;
}
.images2 img{
transition: transform .3s ease;
}
.images2 img:hover{
   transform: scale(1.1);
}
#tour{
   text-align: center;
    font-size: larger;
    font-weight:bolder;
    margin-top: 30px;
}
#learn1{
   text-align:   center;
   font-size: medium;
   font-weight: bold;
   margin-left: 600px;
   text-shadow: chocolate;

}
#contact{
   width: 100%;
   height: 300px;
}
#connect{
   margin-left: 530px;
   margin-top: 60px;
}
/* .iconDiv{
   margin-top: 5%;
   display: flex;
   align-items: center;
   justify-content: center;
   
 }
 .icon{
   width: 50px;
   height: 50px;
   border: 1px solid;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 13px;
 }
 .icon i{
   font-size:larger;
 }
 .icon:hover{
   
   background-image: linear-gradient(180deg, red, yellow);
   color: azure;
 } */
